<p id="notice"><%= notice %></p>


<h2> Name: <%= @person.name %> </h2>

Role:
  <%= @person.role %>

Email:
  <%= @person.email %>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'Are you sure?' } %>