<p id="notice"><%= notice %></p>

  <h1><%= @apartment.name %></h1>
<div class="listing">
  <%= image_tag(@apartment.photo) %>

<div class="listing-description">
  <li> Rent: <%= number_to_currency(@apartment.rent) %></li>
  
  <li>Rooms: <%= @apartment.rooms %></li>
  
  <li>Square Feet: <%= @apartment.area %></li>
  
  <li>Lease expiration: <%= @apartment.lease_expiration %></li>
  <li><a href="<%= @apartment.lease %>">View Lease</a></li>

  <li>People: <%= @apartment.people.name %></li>

  <li>Issue: <%= @apartment.issues.name %></li>


</div>



<div class="clear">
<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'View All Apartments', apartments_path %> |
<%= link_to 'Delete This Listing', @apartment, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
