<!DOCTYPE html>
<html>
<head>
  <title>Aptportal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
	<div class="row">
		<div class="span12">
          <div class="navbar">
              
               <a class="brand" href="<%= apartments_path %>">AptPortal</a>
               <ul class="nav">
                 <li> <%= show_login(@auth_user) %> </li>
                 <%= create_navlink('Apartments', apartments_path) %>
                 <%= create_navlink('People', people_path) %>
                 <%= create_navlink('Issues', issues_path) %> 
                 

                </ul>
           
               
             </div>
          </div>
    </div>
    
        <div class="row">
                <div class="span12">
                <%= yield %>
            </div>
        </div>

        
        </div>

</body>
</html>
